<header>
    <nav class="navbar navbar-expand-lg navbar navbar-light border-bottom">
        <a class="logo-header navbar-brand mx-4" (click)="home()">
            <img class="img-logo" src="./assets/img/prueba3.png"/>
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
            <span class="navbar-toggler-icon"> </span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="nav navbar-nav">
                <a class="py-4 px-5 nav-item nav-link active" (click)="seguros()">Seguros</a>
                <a class="py-4 px-5 nav-item nav-link active" (click)="cotizacion()">Cotizacion</a>
                <a href="https://api.whatsapp.com/send?phone=5491135559728" class="py-4 px-5 nav-item nav-link active"><i class="fab fa-whatsapp fa-2x"></i></a>
            </div>
        </div>
    </nav>
</header>