<section class="contenedor-comentario amigo">
    <div class="row">
        <img _ngcontent-pin-c10="" class="imagen-amigo">
        <div class="col-7">
            <h5><strong><!--{{amigo.apellido}}, {{amigo.nombre}}--></strong></h5>
            <!-- <h6>{{amigo.fechaNaciemiento}}</h6> -->
            <p><!--{{amigo.paisDeOrigen}}--></p>
        </div>
        <div class="col eliminar-amigo"> <!--(click)="eliminarAmigo(amigo.id)"-->
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
    </div>


</section>
