.seguros h2{
    font-size: 40px;
    font-weight: bold;
    color: var(--colorPrincipal);
    padding: 1em;
    text-align: center;
}

.seguros h3{
    font-size: 26px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--colorTexto);
}

.empresas, .personas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    min-height: 80px;
    margin: 16px;
}

ul li .contenedor-img{
    width: 50px;
}

li img{
    width: 100%;
}

.contenedor-img, .seguros-item-titulo{
    padding: 15px 0;
}

.seguros-item-titulo{
    font-size: 16px;
    font-weight: bold;
    color: var(--colorTexto);
    
}

.cauciones-items li{
    flex-direction: row;
    width: 350px;
    color: var(--colorTexto);
    font-weight: bold;
}

.cauciones-items i{
    padding: 20px;
    margin-right: 15px;
    font-size: 22px;
    width: 40px;
    height: 40px;
    color: snow;
    background-color: var(--colorPrincipal);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#personas{
    margin-top: 60px;
}

