<div class="nuevo-evento">
    <div class="border-top mb-2"></div>

    <div class="row justify-content-evenly hide-on-phone">
        <div *ngFor="let stepBox of listaStepBox" class="col-md-2">
            <app-step-box 
                [stepBox]="stepBox" 
                [currentStep]="step"
                (outputStep)="stepBoxSelected($event)">
            </app-step-box>
        </div>
    </div>
    
    <form id="signup-form" class="signup-form">

        <!-- SECTION 1 -->
        <div [ngStyle]="{'display': (isStep(1)) ? 'block' : 'none' }">
            <section class="nuevo-evento-step">
                <div class="container">
                    <h2>Seleccionar Vehiculo</h2>
            
                    <div class="row">
                        <div class="col-md-3 col-sm-12 mb-4">
                            <select class="form-select" name="tipoVehiculoSeleccionado" [(ngModel)]="tipoVehiculoSeleccionado" (change)="getListaMarcaByTipoVehiculo()">
                                <option selected hidden value="Tipo Vehiculo">Tipo de vehiculo</option>
                                <option *ngFor="let tipoVehiculo of listaTipoVehiculo" [value]="tipoVehiculo">{{tipoVehiculo}}</option>
                            </select>
                        </div>
                        
                        <div class="col-md-3 col-sm-12 mb-4">
                            <select class="form-select" name="marcaSeleccionada" [(ngModel)]="marcaSeleccionada" (change)="getAllByMarcaAndTipoVehiculo()">
                                <option selected hidden value="Marca">Marca</option>
                                <option *ngFor="let marca of listaMarca" [value]="marca.nombre">{{marca.nombre}}</option>
                            </select>
                        </div>

                        <div class="col-md-3 col-sm-12 mb-4">
                            <select class="form-select" name="modeloSeleccionado" [(ngModel)]="modeloSeleccionado">
                                <option selected hidden value="Modelo">Modelo</option>
                                <option *ngFor="let modelo of listaModelo" [value]="modelo.nombre">{{modelo.nombre}}</option>
                            </select>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <select class="form-select" name="anio" [(ngModel)]="anioSeleccionado">
                                <option selected hidden>Año</option>
                                <option *ngFor="let anio of listaAnio" [value]="anio">{{anio}}</option>
                            </select>
                        </div>
                    </div>
                <!-- checkbox "No encuentro mi vehiculo" y que cambie los select 
                por inputs -->
                </div>
            </section>
        </div>

        <!-- SECTION 2 -->
        <div [ngStyle]="{'display': (isStep(2)) ? 'block' : 'none' }">

            <section class="nuevo-evento-step">
                <div class="container">

                    <h2>Datos del vehiculo</h2> 

                    <h4>¿Es de uso particular?</h4>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [value]="true" name="particular" [(ngModel)]="datosVehiculo.particular">
                        <label class="form-check-label">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [value]="false" name="particular" [(ngModel)]="datosVehiculo.particular">
                        <label class="form-check-label">No</label>
                    </div>


                    <h4>¿Tiene alarma?</h4>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [value]="true" name="alarma" [(ngModel)]="datosVehiculo.alarma">
                        <label class="form-check-label">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [value]="false" name="alarma" [(ngModel)]="datosVehiculo.alarma">
                        <label class="form-check-label">No</label>
                    </div>

                    <h4>¿Se guarda en garage?</h4>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [value]="true" name="garage" [(ngModel)]="datosVehiculo.garaje">
                        <label class="form-check-label">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [value]="false" name="garage" [(ngModel)]="datosVehiculo.garaje">
                        <label class="form-check-label">No</label>
                    </div>

                    <div class="col-4">
                        <h4>¿Cuántos KMS manejás al año?</h4> 
                        <select class="form-select" name="interavaloKilometros" [(ngModel)]="datosVehiculo.intervaloKilometros">
                            <option selected hidden value="0">KMS manejados</option>
                            <option *ngFor="let kms of listaIntervaloKilometros" [value]="kms">{{kms | stringSinUnderscore}}</option>
                        </select>
                    </div>
                </div>

            </section>
        </div>


        <!-- SECTION 3 -->
        <div [ngStyle]="{'display': (isStep(3)) ? 'block' : 'none' }">
            <section class="nuevo-evento-step">
                <div class="container">

                    <h2>Datos del Seguro</h2> 

                    <div class="col-4">
                        <h4>Tipo de Seguro</h4> 
                        <select class="form-select" name="tipoSeguro" [(ngModel)]="datosVehiculo.tipoSeguro">
                            <option selected hidden value="0">Tipo de seguro</option>
                            <option *ngFor="let seguro of listaTipoSeguro" [value]="seguro">{{seguro | stringSinUnderscore}}</option>
                        </select>
                    </div>

                    <div class="col-4">

                        <h4>Edad</h4> 
                        <select class="form-select" name="intervaloEdad" [(ngModel)]="datosVehiculo.intervaloEdad">
                            <option selected hidden value="0">Edad</option>
                            <option *ngFor="let edad of listaIntervaloEdad" [value]="edad">{{edad | stringSinUnderscore}}</option>
                        </select>
                    </div>
                    
                    <h4>Además de usted, ¿maneja el auto un menor de 25 años?</h4>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [value]="true" name="hijos" [(ngModel)]="datosVehiculo.hijos">
                        <label class="form-check-label">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [value]="false" name="hijos" [(ngModel)]="datosVehiculo.hijos">
                        <label class="form-check-label">No</label>
                    </div>
                </div>
            </section>
        </div>

        <!-- SECTION 4 -->
        <div [ngStyle]="{'display': (isStep(4)) ? 'block' : 'none' }">
            <section class="nuevo-evento-step">
                <div class="container">

                    <h2>Datos de contacto</h2> 

                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <label class="col-4">Nombre</label>
                                <div class="col-8" *ngIf="(nombre.invalid && nombre.touched) || submited">
                                    <span *ngIf="nombre.errors" class="invalid-validator">Ingrese su nombre</span>
                                </div>
                            </div>
                            <input type="text" class="form-control" name="nombre" [(ngModel)]="cliente.nombre" [formControl]="nombre">
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <label class="col-4">Apellido</label>
                                <div *ngIf="(apellido.invalid && apellido.touched) || submited" class="col-8">
                                    <div *ngIf="apellido.errors" class="invalid-validator">Ingrese su apellido</div>
                                </div>
                            </div>
                            <input type="text" class="form-control" name="apellido" [(ngModel)]="cliente.apellido" [formControl]="apellido">
                        </div>
                    </div>
                </div>
                
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <label class="col-4">CUIT/CUIL</label>
                                <div *ngIf="(cuil.invalid && cuil.touched) || submited" class="col-8">
                                    <div *ngIf="cuil.errors" class="invalid-validator">Ingrese su cuil o cuit</div>
                                </div>
                            </div>
                            <input type="number" class="form-control" name="cuil" [(ngModel)]="cliente.cuil" [formControl]="cuil">
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <label class="col-7">Fecha de Nacimiento</label>
                                <div *ngIf="fechaNacimiento.invalid && submited" class="col-8">
                                    <div *ngIf="fechaNacimiento.errors" class="invalid-validator">Ingrese su fecha de nacimiento</div>
                                </div>
                            </div>
                            <input type="date" class="form-control" name="fechaNacimiento" [(ngModel)]="cliente.fechaNacimiento" #fechaNacimiento="ngModel" required>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <label class="col-4">Sexo</label>
                                <div *ngIf="(sexo.invalid && sexo.touched) || submited" class="col-8">
                                    <div *ngIf="sexo.errors" class="invalid-validator">Ingrese su sexo</div>
                                </div>
                            </div>  
                            <select class="form-select" name="sexo" [(ngModel)]="cliente.sexo" #sexo="ngModel" required>
                                <option selected hidden value="Sexo">Sexo</option>
                                <option *ngFor="let sexo of listaSexo" [value]="sexo">{{sexo}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="container mt-3">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <label class="col-4">Ciudad</label>
                                <div *ngIf="(ciudad.invalid && ciudad.touched) || submited" class="col-8">
                                    <div *ngIf="ciudad.errors" class="invalid-validator">Ingrese su ciudad</div>
                                </div>
                            </div>
                            <input type="text" class="form-control" name="ciudad" [(ngModel)]="cliente.ciudad" #ciudad="ngModel" required>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <label class="col-4">Provincia</label>
                                <div *ngIf="(provincia.invalid && provincia.touched) || submited" class="col-8">
                                    <div *ngIf="provincia.errors" class="invalid-validator">Ingrese su provincia</div>
                                </div>
                            </div>
                            <input type="text" class="form-control" name="provincia" [(ngModel)]="cliente.provincia" #provincia="ngModel" required>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <label class="col-4">Codigo Postal</label>
                                <div *ngIf="(codigoPostal.invalid && codigoPostal.touched) || submited" class="col-8">
                                    <div *ngIf="codigoPostal.errors" class="invalid-validator">Ingrese su provincia</div>
                                </div>
                            </div>
                            <input type="number" class="form-control" name="codigoPostal" [(ngModel)]="cliente.codigoPostal" #codigoPostal="ngModel" required>
                        </div>
                    </div>
                </div>

                <div class="container mt-3">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <label class="col-4">E-mail</label>
                                <div *ngIf="(email.invalid && email.touched) || submited" class="col-8">
                                    <div *ngIf="email.errors" class="invalid-validator">Ingrese su e-mail</div>
                                </div>
                            </div>
                            <input type="email" class="form-control" name="email" [(ngModel)]="cliente.email" #email="ngModel" required>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <label class="col-4">Celular</label>
                                <div *ngIf="(celular.invalid && celular.touched) || submited" class="col-8">
                                    <div *ngIf="celular.errors" class="invalid-validator">Ingrese su celular</div>
                                </div>
                            </div>
                            <input type="text" class="form-control" name="celular" [(ngModel)]="cliente.celular" #celular="ngModel" required>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label>Nombre de la empresa (Opcional)</label>
                            <input type="text" class="form-control" name="empresa" [(ngModel)]="cliente.empresa">
                        </div>
                    </div>
                </div>

                <!--div class="container mt-3">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <label>Comentarios</label>
                            <input type="text" class="form-control" name="comentarios" [(ngModel)]="cliente.comentarios">
                        </div>
                    </div>
                </div -->
            </section>
        </div>

        <div class="botones-nuevo-evento">
            <button (click)="atras()" [disabled]="botonAtrasDisabled" type="button" [ngClass]="botonAtrasDisabled ? 'btn btn-secondary' : 'btn btn-primary'" class="mx-2">Atras</button>
            <button (click)="siguiente()" type="button" class="btn btn-primary">{{botonSiguienteFinalizado}}</button>
        </div>

    </form>
</div>

<app-modal [cliente]="cliente"></app-modal>