a{
    text-decoration: none;
    color: var(--colorTexto);
    letter-spacing: 1px;
}

#boton-cotizar{
	font-size: 36px;
    margin: 30px;
    color: var(--colorPrincipal);
}

.btn-cotizar{
    width: 200px;
    padding: 15px 25px;
    font-size: 26px;
    background-color: var(--colorPrincipal);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cotizar:hover{
    background-color: var(--colorSecundario);
}

/**************** SECTION QUIENES SOMOS *****************/

.img-quienes-somos{
    width: 25%;
}

.img-quienes-somos img{
    width: 100%;    
}

.descripcion-quienes-somos p{
    font-size: 28px;
    color: var(--colorTexto);
    text-align: justify;
    line-height: 1.8;
}

.btn-seguros{
    width: 200px;
    padding: 15px 25px;
    font-size: 26px;
    background-color: var(--colorPrincipal);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-seguros:hover{
    background-color: var(--colorSecundario);
}

.border{
    position:absolute;
    background:none;
    transition:all .5s ease-in-out;
}


/**************** SECTION COMPAÑIAS *****************/

.companias{
    width: 100%;
    padding: 70px;
    text-align: center;
    letter-spacing: 1px;
}

.companias h2{
    font-size: 36px;
    font-weight: bold;
    color: var(--colorPrincipal);
}

.companias-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.companias-item{
    display: flex;
    align-items: center;
    width: 150px;
    height: 100px;
    margin: 10px 20px;
}

.companias-item img{
    width: 100%;
    filter: grayscale(100%);
    opacity: 0.8;
}

.companias-item img:hover{
    filter: grayscale(0);
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.1);
}