@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
  --bs-gutter-y: 1em;
}

:root {
    --color-primario: white;
    --color-secundario: lightgray;
    --color-terciario: black;
    --espacio-separacion: 0.5rem;
    --sombra: 0 0.35rem 0.35rem var(--color-terciario);
  }
  
  html {
    font-size: 12px;
  }